    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#">ymsr送別会</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/#info">開催概要</a></li>
            <li><a href="/#timetable">タイムテーブル</a></li>
            <li><a href="/speakers">LT発表者</a></li>
            <li><a href="http://tumblr.yamashi.ro"><i class="fa fa-github"></i></a></li>
            <li><a href="http://tumblr.yamashi.ro"><i class="fa fa-tumblr"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
