{{ template "chrome/header.html" . }}
    <title>ymsr送別会</title>
  </head>
  <body>
{{ template "chrome/menu.html" . }}
    
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>第一回チキチキjava-ja ymsr送別会</h1>
              <p>要するに新年会！</p>
              <p><a class="btn btn-lg btn-primary" href="/event" role="button">参加する</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>第一回チキチキjava-ja ymsr送別会</h1>
              <p>ymsrの遺品を奪い合うビンゴ大会！</p>
              <p><a class="btn btn-lg btn-primary" href="/event" role="button">参加する</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>第一回チキチキjava-ja ymsr送別会</h1>
              <p>ymsrネタのLT大会！</p>
              <p>
                <a class="btn btn-lg btn-success" href="https://github.com/java-ja/yamashi.ro" role="button"><i class="fa fa-github"></i> 発表する</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


    <div class="container marketing">


      <div id="info" class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">開催概要</h2>
          <h3>日時 2014/02/15 17:00</h3>
          <address>
          <h3>場所 カナル・カフェ</h3>
          <strong>東京都新宿区神楽坂1-9</strong><br/>
          <abbr title="Phone">TEL:</abbr>03-3260-8068
          </address>
        </div>
        <div class="col-md-5">
          <iframe width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.jp/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%96%B0%E5%AE%BF%E5%8C%BA%E7%A5%9E%E6%A5%BD%E5%9D%821-9%E3%80%80%E3%82%AB%E3%83%8A%E3%83%AB%E3%82%AB%E3%83%95%E3%82%A7&amp;sll=35.699721,139.747682&amp;sspn=0.022758,0.031242&amp;gl=jp&amp;brcurrent=3,0x60188c5a434ba621:0xe20a63a3a7f53061,0&amp;ie=UTF8&amp;hq=%E3%82%AB%E3%83%8A%E3%83%AB%E3%82%AB%E3%83%95%E3%82%A7&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%96%B0%E5%AE%BF%E5%8C%BA%E7%A5%9E%E6%A5%BD%E5%9D%82%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%99&amp;ll=35.71028,139.746437&amp;spn=0.010943,0.015621&amp;z=14&amp;iwloc=A&amp;cid=4907594013660767871&amp;output=embed&amp;iwloc=B"></iframe>
        </div>
      </div>

      <hr class="featurette-divider">

      <div id="timetable" class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/img/bubble.jpg">
        </div>
        <div class="col-md-7">
          <h2>タイムテーブル(仮)</h2>
          <table class="table">
          <thead>
            <tr>
              <td>時間</td>
              <td></td>
            </tr>
          </thead>

          <tbody>
            <tr>
            <td>17:00</td>
            <td>開場</td>
            </tr>

            <tr>
            <td>18:00</td>
            <td>LT開始</td>
            </tr>

            <tr>
            <td>18:30</td>
            <td>花火開始</td>
            </tr>

            <tr>
            <td>20:30</td>
            <td>花火終了</td>
            </tr>

            <tr>
            <td>21:00</td>
            <td>解散</td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h1>偉大なる幹事は先に逝ってしまった</h1>
          <p class="lead">それでも、僕らは集まって馬鹿騒ぎする。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/img/gone.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

{{ template "chrome/footer.html" . }}
